<!DOCTYPE html>
<html lang="fr-FR" class="no-js">
  <%- include('head'); %>

  <body
    class="
      home
      page-template-default page page-id-11419
      wp-custom-logo wp-embed-responsive
      theme-mann
      fl-builder
      woocommerce-no-js
      tribe-no-js
      mega-menu-menu-header
      full
      header-layout-logo-menu
      pagination-load-more
      sticky-header-type-over
      no-page-header no-middle-header
      has-header-slider
      responsive-layout
      sticky-header
      layout-full
    "
  >
    <div id="top"></div>
    <div class="top-alert">
      <p>
        Students are expected to be vaccinated in order to attend classes or
        gain access to campus buildings. Those who are not vaccinated yet,
        should take the COVID-19 Rapid Antigen Test every week until they take
        the vaccine.<br />To book an appointment for a vaccine/rapid test, email
        QF-Primary Health Care Center at qfphcc@qf.org.qa or call 44541244.
      </p>
    </div>
    <div class="fixed-header-box sticky-header-state-reset" style="height: 0">
      <header
        class="
          main-header
          layout-logo-menu layout-single-row
          header-content-wrapper header-background
        "
      >
        <div class="limit-wrapper header-maybe-limit-wrapper header-padding">
          <div class="header-contents">
            <div class="first-row">
              <div class="logo-wrapper">
                <div class="logo-tagline">
                  <img
                    src="/static/media/logo_hbku_transparent.png"
                    style="padding-top: 34px"
                  />
                </div>
              </div>
            </div>

            <div class="second-row">
              <div id="menus">
                <nav id="main-menu" class="">
                  <a href="#main" title="Skip to content" class="visuallyhidden"
                    >Skip to content</a
                  >
                </nav>
              </div>
            </div>

            <div class="cart-dropdown vamtam-header-cart-wrapper hidden">
              <div class="cart-dropdown-inner">
                <a class="vamtam-cart-dropdown-link" href="#">
                  <span class="icon theme">&#59751;</span>
                  <span class="products cart-empty">...</span>
                </a>
                <div class="widget woocommerce widget_shopping_cart">
                  <div class="widget_shopping_cart_content"></div>
                </div>
              </div>
            </div>

            <div id="header-text">
              <div>
                <link
                  rel="stylesheet"
                  id="jetpack-carousel-swiper-css-css"
                  href="/landing/assets/css/swiper-bundle.css?ver=10.0"
                  type="text/css"
                  media="all"
                />
                <link
                  rel="stylesheet"
                  id="jetpack-carousel-css"
                  href="/landing/assets/css/jetpack-carousel.css?ver=10.0"
                  type="text/css"
                  media="all"
                />
                <link
                  rel="stylesheet"
                  id="fl-builder-layout-13685-css"
                  href="/landing/assets/css/13685-layout-partial.css?ver=748bbeded9affc785f285e11bbb3620f"
                  type="text/css"
                  media="all"
                />
                <div
                  class="
                    fl-builder-content
                    fl-builder-content-13685
                    fl-builder-template
                    fl-builder-row-template
                    fl-builder-global-templates-locked
                  "
                  data-post-id="13685"
                >
                  <div
                    class="
                      fl-row
                      fl-row-full-width
                      fl-row-bg-none
                      fl-node-59ac5fc591a6d
                      fl-row-bg-attachment-scroll
                    "
                    data-node="59ac5fc591a6d"
                  >
                    <div class="fl-row-content-wrap">
                      <div
                        class="
                          fl-row-content fl-row-fixed-width fl-node-content
                        "
                      >
                        <div
                          class="fl-col-group fl-node-59ac5fc59199b"
                          data-node="59ac5fc59199b"
                        >
                          <div
                            class="fl-col fl-node-59ac5fc5919ec"
                            data-node="59ac5fc5919ec"
                          >
                            <div class="fl-col-content fl-node-content">
                              <div
                                class="
                                  fl-module
                                  fl-module-vamtam-button
                                  fl-node-59ac5fc591a2e
                                "
                                data-node="59ac5fc591a2e"
                              >
                                <div class="fl-module-content fl-node-content">
                                  <div
                                    class="
                                      vamtam-button-wrap
                                      vamtam-button-width-auto
                                    "
                                    style="text-align: center"
                                  >
                                    <a
                                      href="https://orientationapi.hbku.edu.qa/saml_login"
                                      target="_self"
                                      id="login-button-top"
                                      class="
                                        vamtam-button
                                        accent1
                                        hover-accent2
                                        button-solid
                                        icon-animation-disable
                                      "
                                      role="button"
                                      style="
                                        font-size: 14px;
                                        line-height: 16px;
                                        padding: 14px 28px;
                                        background-color: #0088ce;
                                        color: white;
                                      "
                                    >
                                      <span class="vamtam-button-text">
                                        Start Your Orientation
                                      </span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div id="page" class="main-container">
      <%- include('header'); %>

      <div id="main-content">
        <div id="main" role="main" class="vamtam-main layout-full">
          <div class="page-wrapper">
            <article
              id="post-11419"
              class="full post-11419 page type-page status-publish hentry"
            >
              <div class="page-content clearfix the-content-parent">
                <div
                  class="
                    fl-builder-content
                    fl-builder-content-11419
                    fl-builder-content-primary
                    fl-builder-global-templates-locked
                  "
                  data-post-id="11419"
                >
                  <%- include('hayakom'); %>
                  <!--  -->
                  <%- include('orientation-program'); %>
                  <!--  -->
                  <%- include('speakers'); %>

                  <div
                    class="
                      fl-row
                      fl-row-full-width
                      fl-row-bg-none
                      fl-node-5b096caa4168a
                      fl-row-bg-attachment-scroll
                    "
                    data-node="5b096caa4168a"
                  >
                    <div class="fl-row-content-wrap">
                      <div
                        class="
                          fl-row-content fl-row-fixed-width fl-node-content
                        "
                      >
                        <div
                          class="
                            fl-col-group
                            fl-node-5b096caa41828
                            fl-col-group-custom-width
                          "
                          data-node="5b096caa41828"
                        >
                          <div
                            class="fl-col fl-node-5b096caa41862"
                            data-node="5b096caa41862"
                          >
                            <div class="fl-col-content fl-node-content">
                              <div
                                class="
                                  fl-module
                                  fl-module-vamtam-heading
                                  fl-node-5b096caa4189c
                                "
                                data-node="5b096caa4189c"
                              >
                                <div class="fl-module-content fl-node-content">
                                  <h2
                                    class="vamtam-heading vamtam-font-style-2"
                                  >
                                    <span class="vamtam-heading-text"
                                      >Previous Orientations</span
                                    >
                                  </h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="
                      fl-row
                      fl-row-full-width
                      fl-row-bg-color
                      fl-node-5b096d09bb5cf
                      fl-row-bg-attachment-scroll
                    "
                    data-node="5b096d09bb5cf"
                  >
                    <div class="fl-row-content-wrap">
                      <div
                        class="
                          fl-row-content fl-row-fixed-width fl-node-content
                        "
                      >
                        <div
                          class="
                            fl-col-group
                            fl-node-5b096d09c862b
                            fl-col-group-custom-width
                          "
                          data-node="5b096d09c862b"
                        >
                          <div
                            class="fl-col fl-node-5b096d09c8791"
                            data-node="5b096d09c8791"
                          >
                            <div class="fl-col-content fl-node-content">
                              <div
                                class="
                                  fl-module
                                  fl-module-rich-text
                                  fl-node-5b096d957c60f
                                "
                                data-node="5b096d957c60f"
                              >
                                <div class="fl-module-content fl-node-content">
                                  <div class="fl-rich-text">
                                    <div
                                      data-carousel-extra='{"blog_id":1,"permalink":"/"}'
                                      id="gallery-4"
                                      class="
                                        gallery-custom gallery
                                        galleryid-11419
                                        gallery-columns-5 gallery-size-thumbnail
                                      "
                                    >
                                      <figure class="gallery-item">
                                        <div class="gallery-icon landscape">
                                          <a href="#"
                                            ><img
                                              width="150"
                                              height="150"
                                              src="static/media/footer-1.jpg"
                                              class="
                                                attachment-thumbnail
                                                size-thumbnail
                                              "
                                              alt=""
                                              loading="lazy"
                                              srcset="
                                                static/media/footer-1.jpg 150w,
                                                static/media/footer-1.jpg 315w,
                                                static/media/footer-1.jpg 100w
                                              "
                                              sizes="(max-width: 150px) 100vw, 150px"
                                              data-attachment-id="987721"
                                              data-orig-file="static/media/footer-1.jpg"
                                              data-orig-size="2000,1335"
                                              data-comments-opened="1"
                                              data-image-meta='{"aperture":"2.8","credit":"","camera":"NIKON D810","caption":"","created_timestamp":"1503225551","copyright":"","focal_length":"110","iso":"1600","shutter_speed":"0.00625","title":"","orientation":"1"}'
                                              data-image-title="Press Release &#8211; Dr. Ahmad M. Hasnah, President of HBKU, speaking at Orientation 2017"
                                              data-image-description=""
                                              data-image-caption=""
                                              data-medium-file="static/media/footer-1.jpg"
                                              data-large-file="static/media/footer-1.jpg"
                                          /></a>
                                        </div>
                                      </figure>
                                      <figure class="gallery-item">
                                        <div class="gallery-icon landscape">
                                          <a href="#"
                                            ><img
                                              width="150"
                                              height="150"
                                              src="static/media/footer-2.jpg"
                                              class="
                                                attachment-thumbnail
                                                size-thumbnail
                                              "
                                              alt=""
                                              loading="lazy"
                                              srcset="
                                                static/media/footer-2.jpg 150w,
                                                static/media/footer-2.jpg 315w,
                                                static/media/footer-2.jpg 100w
                                              "
                                              sizes="(max-width: 150px) 100vw, 150px"
                                              data-attachment-id="987722"
                                              data-orig-file="static/media/footer-2.jpg"
                                              data-orig-size="2000,1335"
                                              data-comments-opened="1"
                                              data-image-meta='{"aperture":"5","credit":"","camera":"NIKON D810","caption":"","created_timestamp":"1503224340","copyright":"","focal_length":"24","iso":"1000","shutter_speed":"0.01","title":"","orientation":"1"}'
                                              data-image-title="Story on International Students &#8211; Students at Orientation Event, Hayakoum at HBKU"
                                              data-image-description=""
                                              data-image-caption=""
                                              data-medium-file="static/media/footer-2.jpg"
                                              data-large-file="static/media/footer-2.jpg"
                                          /></a>
                                        </div>
                                      </figure>
                                      <figure class="gallery-item">
                                        <div class="gallery-icon landscape">
                                          <a href="#">
                                            <img
                                              width="150"
                                              height="150"
                                              src="static/media/footer-3.jpg"
                                              class="
                                                attachment-thumbnail
                                                size-thumbnail
                                              "
                                              alt=""
                                              loading="lazy"
                                              aria-describedby="gallery-4-987724"
                                              srcset="
                                                static/media/footer-3.jpg 150w,
                                                static/media/footer-3.jpg 315w,
                                                static/media/footer-3.jpg 100w
                                              "
                                              sizes="(max-width: 150px) 100vw, 150px"
                                              data-attachment-id="987724"
                                              data-orig-file="static/media/footer-3.jpg"
                                              data-orig-size="2560,1704"
                                              data-comments-opened="1"
                                              data-image-meta='{"aperture":"4","credit":"","camera":"NIKON D4","caption":"HBKU Executive Education Introductory Orientation 2018","created_timestamp":"1531824019","copyright":"","focal_length":"36","iso":"1250","shutter_speed":"0.008","title":"HBKU Executive Education Introductory Orientation 2018","orientation":"0"}'
                                              data-medium-file="static/media/footer-3.jpg"
                                              data-large-file="static/media/footer-3.jpg"
                                          /></a>
                                        </div>
                                        <figcaption
                                          class="
                                            wp-caption-text
                                            gallery-caption
                                          "
                                          id="gallery-4-987724"
                                        ></figcaption>
                                      </figure>
                                      <figure class="gallery-item">
                                        <div class="gallery-icon landscape">
                                          <a href="#"
                                            ><img
                                              width="150"
                                              height="150"
                                              src="/landing/assets/images/HBKUStudentsOrientation-2018-150x150.jpg"
                                              class="
                                                attachment-thumbnail
                                                size-thumbnail
                                              "
                                              alt=""
                                              loading="lazy"
                                              srcset="
                                                /landing/assets/images/HBKUStudentsOrientation-2018-150x150.jpg 150w,
                                                /landing/assets/images/HBKUStudentsOrientation-2018-315x315.jpg 315w,
                                                /landing/assets/images/HBKUStudentsOrientation-2018-100x100.jpg 100w
                                              "
                                              sizes="(max-width: 150px) 100vw, 150px"
                                              data-attachment-id="987725"
                                              data-orig-file="/landing/assets/images/HBKUStudentsOrientation-2018-scaled.jpg"
                                              data-orig-size="2560,1707"
                                              data-comments-opened="1"
                                              data-image-meta='{"aperture":"4.5","credit":"Al Rawi Productions","camera":"Canon EOS-1D X","caption":"","created_timestamp":"1535845962","copyright":"","focal_length":"24","iso":"1250","shutter_speed":"0.00625","title":"","orientation":"1"}'
                                              data-image-title="HBKUStudentsOrientation 2018"
                                              data-medium-file="/landing/assets/images/HBKUStudentsOrientation-2018-300x200.jpg"
                                              data-large-file="/landing/assets/images/HBKUStudentsOrientation-2018-1024x683.jpg"
                                          /></a>
                                        </div>
                                      </figure>
                                      <figure class="gallery-item">
                                        <div class="gallery-icon landscape">
                                          <a href="#">
                                            <img
                                              width="150"
                                              height="150"
                                              src="static/media/footer-4.jpg"
                                              class="
                                                attachment-thumbnail
                                                size-thumbnail
                                              "
                                              alt=""
                                              loading="lazy"
                                              aria-describedby="gallery-4-987726"
                                              srcset="
                                                static/media/footer-4.jpg 150w,
                                                static/media/footer-4.jpg 315w,
                                                static/media/footer-4.jpg 100w
                                              "
                                              sizes="(max-width: 150px) 100vw, 150px"
                                              data-attachment-id="987726"
                                              data-orig-file="static/media/footer-4.jpg"
                                              data-orig-size="2560,1704"
                                              data-comments-opened="1"
                                              data-image-meta='{"aperture":"2.8","credit":"","camera":"NIKON D4","caption":"HBKU Executive Education Introductory Orientation 2018","created_timestamp":"1531824212","copyright":"","focal_length":"24","iso":"1600","shutter_speed":"0.008","title":"HBKU Executive Education Introductory Orientation 2018","orientation":"0"}'
                                              data-image-description=""
                                              data-medium-file="static/media/footer-4.jpg"
                                              data-large-file="static/media/footer-4.jpg"
                                          /></a>
                                        </div>
                                        <figcaption
                                          class="
                                            wp-caption-text
                                            gallery-caption
                                          "
                                          id="gallery-4-987726"
                                        ></figcaption>
                                      </figure>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%- include('discover'); %>
                </div>
              </div>
            </article>
          </div>
        </div>
        <!-- #main -->
      </div>
      <!-- #main-content -->
      <%- include('footer'); %>
    </div>
    <!-- / #page -->

    <script type="text/javascript">
      window.RS_MODULES = window.RS_MODULES || {}
      window.RS_MODULES.modules = window.RS_MODULES.modules || {}
      window.RS_MODULES.waiting = window.RS_MODULES.waiting || []
      window.RS_MODULES.defered = true
      window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {}
      window.RS_MODULES.type = "compiled"
    </script>
    <div
      id="scroll-to-top"
      class="vamtam-scroll-to-top icon"
      style="opacity: 1; transform: scale3d(1, 1, 1)"
    >
      
    </div>

    <%- include('footer-script'); %>
  </body>
</html>
